/* newline(\n)을 <br>로 변경하여 적용한다. */
/* .white-space-pre {
    white-space: pre-wrap;
} */
/* 리스트의 세로 사이즈를 auto로 설정 */
/* .list-class mat-list-item {
  height: auto;
} */
/* 버튼 영역 스타일 지정 */
/* .button {
  margin-top: 10px;
  text-align: right;
} */
/* 버튼의 오른쪽 여백 지정 */
/* .button button {
  margin-right: 8px;
} */

* {
    box-sizing: border-box;
  }
  
  /* 박스 스타일 지정 */
  .wrapper {
    /* display: inline-flex; */
    /* justify-content: center; */
    margin: 20px 20px 0px 20px; 
    /* width: 500px;
    height: 50px; */
    /* justify-content: center;
    margin: 100px 0px; */
  
    display: flex;
    justify-content: center;
    float : left;
    resize: none;
    /* margin: 100px 0px; */
    
  }

  .mdc-text-field__input{
    width: 100%;
    min-width: 200px;
    height: 50px;
    resize: none;
  }
  
  /* 폼 영역 스타일 지정 */
  .mat-list-item {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    /* min-height: 700px; */
  }
  
  /* 폼 에러 표시 관련 스타일 지정 */
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
  
  /* 버튼 스타일 지정 */
  .button {
    display: flex;
    justify-content: flex-end;
    float: right;
  }
  
  /* 버튼 오른쪽 여백 설정 */
  .button button {
    margin-right: 8px;
  }